<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Spotify Now Playing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div class="spotify-container"> 
        <form method="POST">
            <input type="text" name="user_id" placeholder="Enter your Lanyard User ID">
            <button type="submit">Submit</button>
        </form>

        <div id="spotify-content" style="display: none;"> 
            <h1>Now Playing</h1> 
            <img id="album-art" src="">
            <div class="song-info">
                <p>Artist(s): <span id="artist"></span></p>
                <p>Song: <span id="song"></span></p>
            </div>
        </div>
    </div>

    <script>
$(document).ready(function() {
    function updateSpotifyData() {  
        $('form').submit(function(event) {
            event.preventDefault(); 
            const userId = $('input[name="user_id"]').val();

            $.getJSON(`/spotify-data?user_id=${userId}`, function(data) {
                $('#album-art').attr('src', data.album_art_url);
                $('#artist').text(data.artist_names);
                $('#song').text(data.song_name);
                $('#spotify-content').show();
                $(this).closest('.spotify-container').hide(); 
            });
        });
    }

    updateSpotifyData(); // Call initially to load data
    setInterval(updateSpotifyData, 2000); // Update every 2 seconds
});



        
    </script>
</body>
</html>
